  <div class="col-md-6 image">
    <img src="{{ theme.aboutImageFirst.thumbnail('auto','auto') }}" alt="">
  </div>
  <div class="col-md-6 text">
    <h2>{{ theme.aboutTitleFirst }}</h2><br>
    <h4>{{ theme.aboutTextFirst }} </h4>
  </div>
</div>
<div class="row about" id="quote">
  <h2>{{ theme.aboutQuoteText }}</h2>
  <p>{{ theme.aboutQuoteAuthor }}</p>
</div>
<div class="row about" id="">
  <div class="col-md-6 text">
    <h2>{{ theme.aboutTitleSecond }}</h2><br>
    <h4>{{ theme.aboutTextSecond }}</h4>
  </div>
  <div class="col-md-6 image">
    <img src="{{ theme.aboutImageSecond.thumbnail('auto','auto') }}" alt="">
  </div>