<nav class="navbar navbar-default" role="navigation">
  <div class="content">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" id="logo-mob" href="{{ site_url('/') }}">
        <img src="{{ theme.logoImage.thumbnail('auto','auto') }}" alt=""/>
      </a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>


    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">

      <ul class="nav navbar-nav">
        <li>
          <a class="navbar-brand" id="logo" href="{{ site_url('/') }}">
            <img src="{{ theme.logoImage.thumbnail('auto','auto') }}" alt=""/>
          </a>
        </li>
        {{ widget_block("header-menu") }}
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          {% if customer %}
            <p>Welcome, <a href="{{ site_url('profile') }}">{{ customer.first_name }}</a>!<a href="{{ site_url('logout') }}"> Logout</a></p>

          {% else %}
            <a href="{{ site_url('login') }}">Login</a>
          {% endif %}
        </li>
        <li id="normal-cart">
          <a id="normal-carts" href="{{ site_url('cart') }}" data-toggle="dropdown">{{ partial('shop-minicart-totals') }}</a>
          <div id="mini-cart" class="dropdown-menu">
            {{ partial('shop-minicart', {'edit_cart': true}) }}
          </div>
        </li>
        <li id="mobile-cart">
          <a href="{{ site_url('cart') }}">View Cart</a>
        </li>
        <li id="mobile-cart">
          {% if customer %}
            <a href="{{ site_url('checkout') }}" >Checkout</a>
          {% else %}
            <a href="{{ site_url('checkout-start') }}" >Checkout</a>
          {% endif %}
        </li>

      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="row content breadcrumb-container">
  <div class="col-sm-12">
    {{ code_block('breadcrumbs') }}
  </div>
</div>
