<h2>{{ product.name }}</h2> 
	{% set on_sale = product.onSale %}
	<div id="product-gallery">
		{% for image in product.images %}
			<img src="{{ image.thumbnail(650,650,{crop:true}) }}" alt="">
		{% endfor %}
	</div>

	<div id="product-detail" class="row content">
		<div class="col-md-8">
			{% if on_sale %}
				<small class="previous-price">{{ product.fullPrice|currency }}</small>
			{% endif %} 
			<h3>{{ product.price|currency }}</h3>

	  	<p>{{product.description|unescape}}</p>
		</div>

		<div class="col-md-4" id="attributes">
			{{ partial('shop-product-attributes') }}

			{% if product.enabled %}
	      
	      {{ partial('shop-product-options') }}
	      {{ partial('shop-product-extras') }}
	      
	    {% if not product.isOutOfStock() or product.allow_preorder %}
	      <input type="hidden" name="productId" value="{{ product.id }}"/>
		      <div class="add-cart-holder form-group">
		        
		        <div class="quantity-selector">
		        	<label class="title">Quantity</label>
		          <input class="form-control quantity" type="text" value="{{ quantity|default("1") }}" name="quantity"/>
		        </div>
		      </div>
		      {{ flash() }}
		      <a class="btn btn-important btn-add-cart" data-ajax-handler="shop:onAddToCart" data-ajax-update="#normal-carts=shop-minicart-totals, #product-page=shop-product, #mini-cart=shop-minicart" >Add to Cart </a>
		</div>
	      
	    {% else %}
	      <div class="not-available">
	        <h5>This product is temporarily unavailable</h5>
	      <div>
	    {% endif %}
	    
	  {% else %}
	    <div class="not-available">
	      <h5>This product is not available</h5>
	    <div>
  {% endif %}

	
	</div>


<script type="text/javascript">
	function changeImage(a) {
	  document.getElementById("big-thumb").src=a;
	};
</script>



