---
name: shop-passwordrestorerequest
---
{{ flash() }}
{% if invalidHash %}
    <span class="error">Invalid or expired link.</span>
{% endif %}
<p class="h6">Please enter your email below, we will send you an email message with a link to enter a new password for your account.<p>

<div class="input-group row">
  <div class="col-md-9">
    <input type="text" id="email" name="email" class="form-control" placeholder="Email Address">
  </div>
  <div class="col-md-2">
    <input type="hidden" name="requestPasswordRestore" value="1">
    <input type="hidden" name="successMessage" value="Password restore email was sent."/>
    <input type="submit" class="btn btn-default" style="margin-top:0" value="Submit" name="passwordRestoreSubmit"/>
  </div>
  <span class="error"></span>
</div>