<div class="social social-links">
  <button class="facebook btn btn-mini share s_facebook">
    <i class="fa fa-facebook-official"></i> &nbsp;
    <span class='badge counter c_facebook'>&nbsp;</span>
  </button>

  <button class="twitter btn btn-mini share s_twitter">
      <i class="fa fa-twitter-square"></i>
  </button>

  <button class="google btn btn-mini share s_plus">
      <i class="fa fa-google-plus-square"></i> &nbsp;
      <span class='badge counter c_plus'>&nbsp;</span>
  </button>

  <button class="pinterest btn btn-mini share s_pinterest">
      <i class="fa fa-pinterest-square"></i> &nbsp;
      <span class='badge counter c_pinterest'>&nbsp;</span>
  </button>
</div>
