/*============================================


				PUT YOUR CUSTOM CSS HERE


=============================================*/
.pagination-centered {
  margin: 0 auto;
  text-align: center;
}
.pagination-holder {
  position: relative;
}
.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center;
  font-size: 3.15733em; }
  .rating span {
    color: #555;
    display: inline-block;
    position: relative;
    cursor: pointer; }
  .rating span:hover, .rating span:hover ~ span {
    color: transparent; }
  .rating span:hover:before, .rating span:hover ~ span:before {
    content: "\2605";
    position: absolute;
    color: gold; }
  .rating span.select {
    color: transparent; }
  .rating span.select:before {
    content: "\2605";
    position: absolute;
    color: gold; }
  .rating p {
    font-size: 0.5em;
    margin: 0.25em 0 1.5em 0;
    color: #555; }

.btn.facebook, .btn.twitter, .btn.pinterest, .btn.googleplus {
  text-transform: uppercase; border:none;
}

.social .btn > i {
  font-size: 18px;
  color: #FFF;
}

.social .badge.counter {
  background: #FFF;
  color: #000;
  border: none;
}

.social .facebook .badge.counter {
  color: #3b5998;
}

.social .twitter .badge.counter {
  color: #55acee;
}

.social .pinterest .badge.counter {
  color: #ce2127;
}

.social .google .badge.counter {
  color: #d50f25;
}

.btn.facebook {
  background: #3b5998;
}

.btn.twitter {
  background: #55acee;
}

.btn.pinterest {
  background: #ce2127;
}

.btn.google {
  background: #d50f25;
  text-transform: uppercase; border:none;
}
#blog-detail {
  text-align: left;
}
#blog-detail p{
  font-size:1em;
}
.blog-content {
  margin-top: 56px;
}
.product-rating-container {
  font-size: 10px;
  padding-top: 10px;
}
.col-md-12.social {
  margin-left: 0;
  padding-left: 0;
  margin-right: 0;
  padding-right: 0;
}

#cross-sell-items img {
  width: 100%;
}

#cross-sell-items .item-detail {
  position: relative;
  height: auto;
  text-align: center;
}

#cross-sell-items .item-detail > h2 {
  padding-bottom: 0;
  padding-top: 0;
}

.row.content.breadcrumb-container {
  padding-top: 0;
  padding-bottom: 0;
}
