---
action: 'shop:customerProfile'
template: template-1
protocol: all
published: true
name: Profile
url: /profile
---

<div class="content">
	{% if customer %}
	
	<div class="panel-group checkout-accordions" id="profile-addresses">
		{{ partial('shop-customerprofile') }}
	</div>		
	<!-- Using hasFeature helper method to check whether card variables should be accessed. -->
    {% if hasFeature('saved-cards') %}
        {% set editedCard = '' %}
        <div id="profile-edit-card">
            {{ partial('shop-customerprofile-edit-card') }}
        </div>
        {{ code_block('script') }}
    {% endif %}
{% else %}
	

  <div class="row">Please <a href="{{ root_url('login') }}">login</a> to edit your profile.</div>
{% endif %}
</div>
