
@media screen and (max-width: 991px) {
  #intro-left{
    display:none;
  }
  .search-form{
    display:none;
  }
/*============================================
        SHOP PAGE
=============================================*/
.shop-item{
  margin-bottom:90px;
  width:50%;
  float:left;
}
.shop-item img{
  width:100%;
}
.item-detail{
  background:rgba(255,255,255,0.8);
  color:black;
  position:absolute;
  width:100%;
  height:100px;
  padding:0;
  top:100%;

  left:0;
  text-align: center;
  opacity:1;
}
.item-detail h2{
  padding-top:0px;
  font-size:1em;
}
/*============================================
     INDEX PAGE = FEATURED
=============================================*/
.feature-item{
  margin-bottom:110px;
  width:50%;
  float:left;

}
#feature .item-detail{
  opacity:1;
  pointer-events:none;
  display:block;
}
#foot-info p{
  text-align: left;
}
#sub-footer .content div{
  margin-bottom:10px;
}
.search-bar{
  width:100%;
  opacity:0;
  position:relative;
  text-align: center;
  top:10px;
  margin:0 auto;
  z-index:999999;
  pointer-events:none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  padding-bottom:10px;
  margin-top:20px;
  opacity:1;
  display:block;
  pointer-events:auto;
}
#mobile-cart{
  padding-bottom:20px;
  vertical-align: top;
  display:block;
}
#search-item{
  display:none;
}
.navbar-default .navbar-toggle{
  border:none;
}
#logo-mob{
  display:block;
}
#logo{
  display:none;
}
#product img{
  width:33.33%;
}
.shop-item img{
  margin-bottom:20px;
}
#cart-items{
  display:none;
}
#cartt #cart-row{
  border: 1px solid rgba(0,0,0,0.2);
  min-height: 150px;
  padding: 20px;
  text-align: center;
  margin-bottom: 10px;
  position: relative;
}
.form-guest-checkout{
  margin-top:20px;
}
#product-detail{
  text-align: center;
}
#product-detail  #attributes{
  text-align: center;
}
#product-detail .quantity{
  margin:0 auto;
}


}

@media screen and (max-width: 480px) {
  #intro-left{
    display:block;
  }

  /*============================================
     BASE STYLES
  =============================================*/
  body{
    text-align:center;
  }
  #intro-info{
    margin:0;
  }
  .row{
    padding-top:20px;
  }
  /*============================================
       NAVIGATION STYLES
  =============================================*/
  .navbar{
    letter-spacing: 0em;
    font-size:1em;
    border:none;
  }
  .navbar-default .navbar-nav > li > a {
    color:white;
    letter-spacing: 0.2em;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
  .nav > li > a {
    display:inline-block;
    color:white;
    text-align: center;
  }
  .nav a{
    outline:none;
  }
  .nav .btn-default{
    margin-top:5px;
  }
  .nav > li {
    display:block;
    text-align: center;
  }
  .nav p{
    font-size: 0.8em;
    margin: 0;
    padding-top: 18px;
    padding-right: 0px;
    padding-bottom: 12px;
  }
  #navbar-totals{
    margin-top:15px;
  }

  .navbar-default .navbar-nav>.open>a {
    background-color:none;
  }
  .navbar-default .navbar-nav>.open>a i{
    color:#e7e7e7;
  }
  .navbar-form{
    margin-right:0;
    margin-left:0;
  }
  #logo{
  position:absolute;
  height:20px;
  width:20%;
  top:13px;
  left:5%;
  margin:0 auto;
  }
  #logo-mob{
  display:block;
}
  #logo-mob img{
    height:28px;
  }
  #logo img{
    height:100%;
    width:auto;
  }

/*============================================
     INDEX PAGE = INTRO
=============================================*/
#intro{
  position:relative;
  width:100%;
  height:400px;
  text-transform: uppercase;
  color:white;
  text-align: center;
}
#intro h1{
  font-weight:900;
  font-size:1.5em;

  padding-top:140px;
}
#intro h3{
  font-size:1em;
  letter-spacing: 0em;
}

/*============================================
     INDEX PAGE = INTRO-INFO
=============================================*/
#intro-info{
  margin: 0 auto;
}
#intro-text{
  width:95%;
}
#intro-text h2{
  font-size:2em;
}
#intro-text p{
  font-size:1em;
}
#intro-text img{
  padding-top:50px;
  padding-bottom:50px;
  width:80%;
}

#login-page .control-label{
  margin-left:-15px;
}
/*============================================
     FOOTER
=============================================*/
#sub-footer{
  min-height:120px;
  font-size:0.8em;
  text-align:center;
  border-top:1px solid rgba(0,0,0,0.3);
  border-bottom:1px solid rgba(0,0,0,0.3);
}
#sub-footer .col-md-4{
  padding-top:10px;
}
#sub-footer i{
  font-size:1.3em;
  padding-right:10px;
}

#main-footer{
  min-height:300px;
  background:#f5f5f5;
  color:white;
  text-align: left;
}
#main-footer .title{
  color:#333;
}
#foot-info p{
  font-size:0.7em;
  padding-top:20px;
}
/*============================================
        SHOP PAGE
=============================================*/
.shop-item{
  margin-bottom:100px;
  width:100%;
  display:block;
}
.shop-item img{
  width:100%;
}
.item-detail{
  background:rgba(255,255,255,0.8);
  color:black;
  position:absolute;
  width:100%;
  height:100px;
  padding:0;
  top:100%;

  left:0;
  text-align: center;
  opacity:1;
}
.item-detail h2{
  padding-top:0px;
  font-size:1em;
}
/*============================================
     INDEX PAGE = FEATURED
=============================================*/
.feature-item{
  margin-bottom:110px;
}
#feature .item-detail{
  opacity:1;
  pointer-events:none;
  display:block;
}

/*============================================
        PRODUCT PAGE
=============================================*/
#shop-product{
margin-right:0;
margin-left:0;
text-align: center;
}
#product h3{
  font-size:1.5em;
}

#product img{
  width:100%;
  height:auto;
}

#product-gallery li img{
  width:100%;
  height:auto;
  margin-bottom:10px;
  float:right;
  overflow-y:scroll;
}

.product-options{
  display:inline-block;
  padding:5px;
}

.form-control{
  min-width:50px;
  box-shadow:none;
  border-radius:0px;
  margin:0 auto;
}

.quantity-selector input{
  width:50px;
}
/* Select Styles */
select {
  background:white;
  border:none;
  border-radius:0;
  border:1px solid #ccc;
}
.select-option{
  border-radius:0;
}
/*============================================
        ABOUT PAGE
=============================================*/
.about{
  padding-top:0px;
}
.about h2{
  font-size:1.3em;
}
.about h4{
  font-size:1em;
}
/*============================================
     LOGIN/SIGNUP STYLES
=============================================*/
.input-sm{
  border-radius:0px;
}
.form-control:focus{
  border-color:black;
}

/*============================================
     CART STYLES
=============================================*/
#normal-cart{
  display: none;
}
#mobile-cart{
  display:inline;
}
#cart-content{
  display:;
}
#cart-img img{
  width:100%;
  height:auto;
}
#cart-items{
  visibility: hidden;
  height:0;
}

#cartt #cart-row{
  border:1px solid rgba(0,0,0,0.2);
  min-height:150px;
  padding:20px;
  text-align: center;
  margin-bottom:10px;
  position:relative;
}

#align-middle{
  padding:0;
  padding-top:7%;
}

#cart-row input{
  width:50px;
}

#cart-row a{
  color:black;
  margin-bottom:10px;
  padding-bottom:10px;
}

#summary{
  padding-top:10px;
  border-radius:0;
}
#summary li{
  border-radius:0;
}
#summary a{
  border-radius:0;
}

#summary .btn-default{
  margin-top:5px;
}

/*============================================
     MINI-CART STYLES
=============================================*/
#mini-cart{
  width:300px;
  box-shadow:none;
  padding:20px;
}
#mini-cart .row{
  padding-top:5px;
  padding-bottom:5px;
}
/*============================================
     SEARCH STYLES
=============================================*/
#search-item:hover{
  cursor:pointer;
}

.search-bar{
  width:100%;
  opacity:0;
  position:relative;
  text-align: center;
  top:10px;
  margin:0 auto;
  z-index:999999;
  pointer-events:none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
  padding-bottom:10px;
  margin-top:20px;
  opacity:1;
  display:block;
  pointer-events:auto;
}
#mobile-cart{
  padding-bottom:20px;
  vertical-align: top;
}
#search-item{
  display:none;
}

#login_button{
  display:block;
  margin:0 auto;
}
}
